$grey-b: #2a2b30;
$greyb-b: #54565f;
$greft-b: #868893;
$orange-b: #ffdd3c;
$black-b: #1E1F22;

.lw-card{
  width: 50%;
  background-color: $grey-b;
  display: flex;
  flex-direction: column;
  border: 2px solid $greyb-b;
  border-radius: 20px;
  padding: 40px;
  form{
    gap: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    h1{
      color: white;
      font-size: 3rem;
    }
    input{
      width: 100% !important;
      padding: 25px 50px;
      border-radius: 20px;
      font-size: 1.2rem;
      background-color: $black-b;
      color: white;
      outline: none;
    }
    .status-s{
      border: 2px solid $greyb-b;
    }
    .status-e{
      border: 2px solid red;
    }
    .login-e{
      width: 100% !important;
      background-color: rgb(255, 56, 56);
      border-radius: 10px;
      border: 2px solid rgba(112, 1, 1, 0.554);
      padding: 2px 20px;
      display: flex;
      justify-content: start;
      font-size: 1rem;
      color: rgba(112, 0, 0, 0.554);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .login-d{
      position: absolute;

    }
    .pass{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      input{
        width: 100% !important;
      }
      .btnpass{
        width: 20%;
        border-radius: 20px;
        font-size: 2rem;
        padding: 40px 0;
        font-weight: 700;
        background-color: $orange-b;
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .a-img{
          width: 60px;
          height: 70px;
          position: absolute;
        }
        .d-img{
          width: 60px;
          height: 50px;
          position: absolute;
        }
      }
    }
    .btnlogin{
      width: 100% !important;
      margin-top: 20px;
      padding: 25px 50px;
      border-radius: 20px;
      font-size: 1.4rem;
      font-weight: 700;
      background-color: $orange-b;
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black !important;
    }

  }
}
.a-down-login{
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  gap: 16px;
  a{
    font-size: 1.2rem;
    color: $orange-b;
  }
}

@media all and (max-width: 1250px){
  .lw-card{
    width: 60% !important;
  }
  .a-img{
    width: 50px !important;
    height: 60px !important;
    position: absolute;
  }
  .d-img{
    width: 50px !important;
    height: 40px !important;
    position: absolute;
  }
}
@media all and (max-width: 900px){
  .lw-card{
    width: 80% !important;
  }
  .btnpass{
    width: 30% !important;
    img{
      width: 40px !important;
      height: 50px !important;
      position: absolute;
    }
  }
}
@media all and (max-width: 700px){
  .btnpass{
    width: 20% !important;
  }
  .a-img{
    width: 40px !important;
    height: 50px !important;
    position: absolute;
  }
  .d-img{
    width: 40px !important;
    height: 30px !important;
    position: absolute;
  }
}
@media all and (max-width: 500px){
  .lw-card{
    width: 90% !important;
    padding: 20px !important;
    input{
      padding: 20px 30px !important;
    }
     .btnlogin{
      padding: 15px 30px !important;
    }
    .pass{
      
      .btnpass{
        width: 30% !important;
      }
    }
  }
}

@media all and (max-width: 450px){
  .lw-card{
    h1{
      font-size: 2rem !important;
    }
    input{
      padding: 20px 30px !important;
      font-size: 1rem !important;
    }
    .btnlogin{
      padding: 15px 30px !important;
      font-size: 1rem !important;
    }
    .btnpass{
      width: 50px !important;
      padding: 30px 0 !important;
    }
  }
}

@media all and (max-width: 400px){
  .lw-card{
    input{
      padding: 15px 20px !important;
      font-size: 0.8rem !important;
    }
    .btnlogin{
      padding: 10px 20px !important;
      font-size: 1rem !important;
      margin-top: 0 !important;
    }
    .btnpass{
      width: 10px !important;
      padding: 25px 0 !important;
      .a-img, .d-img{
        width: 30px !important;
        height: 40px !important;
        position: absolute;
      }
    }
  }
}