$grey-b: #2a2b30;
$greyb-b: #54565f;
$greft-b: #868893;
$orange-b: #ffdd3c;
$black-b: #1E1F22;

.skeleton-charter{
    width: 800px;
    min-height: 500px;
    height: 700px;
    border-radius: 25px !important;
    animation: skeleton-loading 1s linear infinite alternate;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-chart{
    width: 800px;
    min-height: 500px;
    height: 700px;
    border-radius: 25px !important;
    animation: skeleton-loading 1s linear infinite alternate;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-side{
    width: 70px;
    height: 700px;
    border-radius: 25px !important;
    animation: skeleton-loading 1s linear infinite alternate;
    border: none !important;
    opacity: .7;
}
.skeleton-trade{
    width: 400px;
    height: 700px;
    border-radius: 25px !important;
    animation: skeleton-loading 1s linear infinite alternate;
    border: none !important;
    opacity: .7;
}
.s-side{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t-timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $grey-b;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid $greyb-b;
    font-style: 1.4rem;
    b{
        color: $orange-b;
    }
}
.c-info{
    .ci-flex{
        display: flex;  
        justify-content: space-between;
        align-items: center;
        .ci-line{
            width: 60%;
            height: 100px;
            display: flex;
            margin: 10px 0;
            padding: 10px 20px;
            background-color: black;
            border-radius: 20px;
            flex-direction: column;
            border: 2px solid $greyb-b;
            img{
                width: 40px;
                margin-top: -32px;
                border-radius: 50%;
                border: 2px solid $greyb-b;
                background-color: $black-b;
            }
            .ci-text{
                margin-top: 7px;
            }
        }
        .ci-time{
            padding: 10px;
            border: 2px solid $orange-b;
            border-radius: 15px;
        }
    }
}
.i-box{
    .skeleton-i1{
        width: 100%;
        height: 100px;
        border-radius: 25px !important;
        animation: skeleton-loading 1s linear infinite alternate;
        border: none !important;
        opacity: .7;
        margin-bottom: 20px;
    }
}

.w-card{
    position: relative; 
    display: flex;
    justify-content: space-between;
    
    .tools-side{
        display: flex;
        justify-content: end;
        position: relative;
    }

    .tools-sidebar{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: flex;
    }
    .cs-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $grey-b;
        border-right: 2px solid $greyb-b; 
        position: relative;
        .tools-wrapper{
            padding: 40px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        .c-sidebar{           
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 25px;
            .s-line{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;
                    background-color: transparent;
                    border: none;
                    color: $greft-b;
                    cursor: pointer;
                    gap: 5px;
                    sub{
                        font-size: 0.8rem;
                    }
                    &:hover{
                        color: white !important;
                    }
                }
            }
        }
        .cd-sidebar{
            .s-line{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;
                    background-color: transparent;
                    border: none;
                    color: $greft-b;
                    cursor: pointer;
                    gap: 5px;
                    sub{
                        font-size: 0.8rem !important;
                    }
                    &:hover{
                        color: white !important;
                    }
                }
            }
        }
    }
    .csi-wrapper{
        width: 350px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        z-index: 1000;
        background-color: $black-b;
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;
        transition: width 0.3s ease, transform 0.3s ease;
        .cs-card{
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
            flex-direction: column;
            h2{
                color: $orange-b;
                font-size: 1.6rem;
                margin-bottom: 10px;
            }
            b{
                color: rgb(210, 210, 210);
                font-size: 1rem;
            }
            .cb-line{
                width: 100%;
                background-color: black;
                display: flex;  
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                border-radius: 20px;
                .bl-line{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    .bl-left{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: 7px;
                    }
                }
                .bl-active{
                        padding: 10px 50px;
                        border-radius: 15px;
                        font-size: 1.2rem;
                        font-weight: 700;
                        background-color: $orange-b;
                        border: none;
                        cursor: pointer;
                    }
                    .bl-none{
                        padding: 10px 50px;
                        border-radius: 15px;
                        font-size: 1.2rem;
                        font-weight: 700;
                        background-color: $black-b;
                        border: 2px solid $greyb-b;
                        cursor: pointer;
                        color: white;
                    }
            }
        }
        .t-line{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
        }
        .ch-line{
            width: 100%;
            padding: 15px 30px;
            background-color: $grey-b;
            border-radius: 25px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            color: white;
            .l-line{
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            img{
                width: 40%;
            }
        }
        .ch-interval{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 20%;
                display: flex;
                justify-content: center;
                padding: 15px 20px;
                background-color: $grey-b;
                color: white;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                font-size: 1.2rem;
                
            }
        }
    }
    .c-chart{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: start;
        .ch-wrapper{
            width: 100%;
            height: 720px;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0;
            z-index: 1;
        }
    }
    .c-trade{
        width: 40%;
        background-color: $black-b;
        border-left: 2px solid $greyb-b;
        padding: 30px 30px 0 30px;
        color: white;
        display: flex;
        flex-direction: column;
        .ct-line{
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            background-color: $grey-b;
            margin-top: 20px;
            border-radius: 25px;
            border: 2px solid $greyb-b;

            .ctleft{
                p{
                    color: rgba(245, 245, 245, 0.616) !important;
                }
            }
            .ct-right{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 1.2rem;
                color: white;
                gap: 10px;
            }
        }
        .ct-trade{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 40px;
            gap: 10px;
            button{
                width: 100%;
                padding: 20px 0;
                color: white;
                font-size: 2rem;
                border-radius: 25px;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 10px;

                }
            }
            .t-buy{
                background-color: #14C679;
            }
            .t-sell{
                background-color: #FF646C;
            }
        }
    }
}
.cm-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    input{
        width: 100%;
        padding: 20px 10px;
        background-color: $grey-b;
        border: 2px solid $orange-b;
        border-radius: 10px;
        outline: none;
        color: white;
        font-size: 1.2rem;
    }
    .mc-coins{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 15px;
        .mc-line{
            width: 100%;
            display: flex;
            
            gap: 40px;
            align-items: center;
            background-color: black;
            border-radius: 10px;
            padding: 15px;
            cursor: pointer;
            font-size: 0.7rem;
            img{
                width: 50px;
                height: 50px;
            }
            h2{
                width: 80px;
            }
        }
    }
}
.cr-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        color: $orange-b;
    }
    h3{
        color: rgba(255, 255, 255, 0.804);
        font-size: 1.2rem;
    }
    textarea{
        width: 100%;
        padding: 10px;
        background-color: $grey-b;
        border: 2px solid $orange-b;
        border-radius: 10px;
        outline: none;
        color: white;
        font-size: 1.2rem;
        resize: none;
        &::placeholder{
            font-size: 1rem;
        }
    }
    button{
        width: 100%;
        padding: 20px 0;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 10px;
        background-color: $orange-b;
        border: none;
    }
}
.active-bar{
    border: 2px solid $orange-b !important;
}
.bl-right{
    display: flex;
    flex-direction: column; 
    gap: 5px;
    p{
        color: rgba(245, 245, 245, 0.616) !important;
        font-size: 0.7rem;
    }
}
.bar{
    width: 100% ;
    background: $grey-b;
    display: block;
    height: 10px;
    border: 1px solid $greyb-b;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
    span{
        width: 90%;
        animation: profit 3s;
        height: 20px;
        float: left;
        background: linear-gradient(135deg, $orange-b 0%, rgb(253, 190, 3)100%);
    }
}

.ldio-yzaezf3dcmj div {
  left: 96px;
  top: 48px;
  position: absolute;
  animation: ldio-yzaezf3dcmj linear 1s infinite;
  background: #000000;
  width: 8px;
  height: 24px;
  border-radius: 3.84px / 3.84px;
  transform-origin: 4px 52px;
}.ldio-yzaezf3dcmj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #000000;
}.ldio-yzaezf3dcmj div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #000000;
}
.loadingio-spinner-spinner-2by998twmg8 {
  width: 50px;
  height: 50px;
  position: absolute;
  transform: scale(0.250);
  transform-origin: top left;
  -webkit-transform: scale(0.250);
  -moz-transform: scale(0.250);
  -ms-transform: scale(0.250);
  -o-transform: scale(0.250);
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-yzaezf3dcmj div { box-sizing: content-box; }
.loading-space{
    width: 30px;
    height: 30px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

@keyframes ldio-yzaezf3dcmj {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@media (max-width: 1200px) {
  .w-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "tools chart"
      "trade trade";
    width: 100%;
  }

  .tools-side {
    grid-area: tools;
    width: auto !important;
  }

  .c-chart {
    grid-area: chart;
    width: 100% !important;

    .ch-wrapper {
      width: 100% !important;
      height: 80vh !important;
    }
  }

  .c-trade {
    padding: 50px !important;
    grid-area: trade;
    width: 100% !important;
    border-top: 2px solid $greyb-b;
    border-left: 0 !important;
    
  }
}


@media (max-width: 800px) {
  .tools-side,
  .c-chart,
  .c-trade {
    width: 100% !important;
  }
  .tools-wrapper{
    padding: 30px 15px !important;
  }
  .c-chart {
    .ch-wrapper {
      height: 80vh !important;
    }
  }
  .c-trade{
    padding: 40px !important;
  }
  .s-line button{
    font-size: 1.6rem !important;
  }
  .w-card {
    padding-left: 0 !important;
  }
}


@media all and (max-width: 660px) {
    .c-trade{
        width: 100% !important;
        padding: 50px !important;
    }
    .tools-wrapper{
        padding: 30px 10px !important;
    }
    .s-line{
        display: flex;
        .s-svg{
            font-size: 1.5rem !important;
        }
        sub{
            font-size: 0.7rem !important;
        }
    }
    .c-trade{
        padding: 30px !important;
    }
}
@media all and (min-width: 401px) and (max-width: 500px) {
    .mc-line{        
        img{
            width: 40px !important;
            height: 40px !important;
        }
    }
}

@media all and (max-width: 500px) {
    .c-trade{
        width: 100% !important;
        padding: 50px !important;
    }
    .t-line{
        font-size: 0.8rem !important;
    }
    .s-line{
        .s-svg{
            font-size: 1.5rem;
        }
        sub{
            font-size: 0.7rem !important;
        }
    }
    .ci-line{
        height: 90px !important;
        h4{
            font-size: 0.8rem !important;
        }
    }
    .cm-card{
        input{
            padding: 10px !important;
            font-size: 1rem !important;
        }
    }
    .csi-wrapper{
        width: 300px !important;
        
        .t-line{
            b{
                font-size: 0.9rem !important;
            }
        }
        .l-line{
            font-size: 0.8rem !important;
            b{
                font-size: 0.8rem !important;
            }
        }
        .mc-line{
            gap: 15px !important;
        }
        .bl-left{
            gap: 0 !important;
            h2{
                font-size: 1.3rem !important;
            }
            b{
                font-size: 0.8rem !important;
            }
        }
        .cb-line{
            font-size: 0.5rem !important;
        }
        .ch-interval{
            button{
                font-size: 0.8rem !important;
            }
        }
        .bl-active, .bl-none{
            font-size: 0.9rem !important;
        }
    }
    .c-trade{
        padding: 30px !important;
    }
    .cr-card{
        h3{
            font-size: 1rem !important;
        }
        textarea{
            font-size: 1rem !important;
        }
        button{
            font-size: 1rem !important;
        }
    }
}


@media all and (max-width: 400px) {
    .cr-card{
        textarea{
            &::placeholder{
                font-size: 0.9rem !important;
            }
        }
    }
    .mc-line{
        gap: 10px !important;
        h2{
            font-size: 0.8rem !important;
        }
        img{
            width: 30px !important;
            height: 30px !important;
        }
    }
    .t-line{
        font-size: 0.7rem !important;
    }
    .cr-card{
        h3{
            max-width: 400px !important;
        }
    }
    .csi-wrapper{
        width: 250px !important;
        .ch-interval{
            button{
                padding: 15px !important;
            }
        }
    }
}