$grey-b: #2a2b30;
$greyb-b: #54565f;
$greft-b: #868893;
$orange-b: #ffdd3c;
$black-b: #1E1F22;

.u-wrapper-f{
    width: 100%;
    padding: 50px;
    background-color: $black-b;
    .u-wrapper{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .u-card{
            width: 50%;
            background-color: $grey-b;
            border-radius: 20px;
            border: 2px solid $greyb-b;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 50px;
            gap: 40px;
            .p-image{
              width: 80%;
              .p-image1{
                width: 100%;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .u-line{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100% !important;
                background-color: transparent;
                border: 2px solid $greyb-b;
                border-radius: 20px;
                padding: 20px;
                h3{
                    font-size: clamp(0.5rem, 0.7rem + 0.9vw, 1.2rem) !important;
                    color: $orange-b;
                }
            }
            .b-follow{
                width: 100%;
                background-color: $orange-b;
                color: black;
                border-radius: 20px;
                border: none;
                padding: 20px 0;
                font-size: 1.7rem;
                font-weight: 600;
                cursor: pointer;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .b-followed{
                width: 100%;
                background-color: $black-b;
                color: white;
                font-size: 1.4rem;
                padding: 25px 0;
                border: 2px solid $greyb-b;
                border-radius: 20px;
                font-weight: 700;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


@media all and (max-width: 1400px) {
    .u-card{
      width: 55% !important;
    }
  }
  @media all and (max-width: 1000px) {
    .u-card{
      width: 65% !important;
      padding: 30px;
    }
  }
  @media all and (max-width: 900px) {
    .u-card{
      width: 85% !important;
      gap: 40px !important;
      padding: 20px !important;
    }
    .u-wrapper-f{
      h2{
        font-size: 1rem !important;
      }
    }
  }
  @media all and (max-width: 600px) {
    .u-wrapper-f{
      width: 100% !important;
      padding: 40px 0 !important;
    }
    .u-wrapper{
      width: 100% !important;
    }
    .u-card{
      width: 100% !important;
      padding: 15px !important;
    }
    .u-wrapper-f{
      h2{
        font-size: 1rem !important;
      }
    }

  }
  @media all and (max-width: 480px) {
    .u-card{
      form{
        width: 100% !important;
        gap: 25px !important;
      }
      h1{
        font-size: 2rem !important;
      }
      input{
        padding: 20px !important;
        font-size: 0.8rem !important;
      }
      .a-down{
        margin: 10px 0 !important;
      }
    }
    .u-wrapper-f{
      img{
        width: 200px;
        height: 200px;
      }
      h1{
        font-size: 1rem;
      }
      .b-follow{
        font-size: 1.1rem !important;
        font-weight: 800 !important;
      }
    }
    .r-card{
      h1{
        font-size: 1.2rem !important;
        margin-bottom: 20px;
      }
    }
  }