$grey-b: #2a2b30;
$greyb-b: #54565f;
$greft-b: #868893;
$orange-b: #ffdd3c;
$black-b: #1E1F22;
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.all {
    width: 100%;
    padding: 50px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-b;
    .profile1 {
      width: 35%;
      background-color: $grey-b;
      border: 2px solid $greyb-b;
      border-radius: 25px;
      text-align: center;
      padding: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      
      .p-image{
        aspect-ratio: 1 / 1 !important;     
        display: flex;
        justify-content: center;
        padding: 20px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover !important;
          position: relative;
          z-index: 2;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }

      .p-image1{
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: -6px;
          border-radius: 50%;
          background: conic-gradient(from var(--angle),rgb(199, 48, 31),rgb(210, 140, 42),rgb(199, 48, 31));
          animation: spin 3s linear infinite;
          pointer-events: none;
          -webkit-animation: spin 3s linear infinite;
        }

        &::before {
          filter: blur(1.5rem);
          opacity: 0.7;
        }
      }
      .p-image2 {
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: -6px;
          border-radius: 50%;
          background: conic-gradient(from var(--angle),rgb(83, 83, 83),silver,rgb(83, 83, 83));
          animation: spin 3s linear infinite;
          pointer-events: none;
          -webkit-animation: spin 3s linear infinite;
        }

        &::before {
          filter: blur(1.5rem);
          opacity: 0.7;
        }
      }

      .p-image3{
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: -6px;
          border-radius: 50%;
          background: conic-gradient(from var(--angle),blue,rgb(255, 145, 0),blue);
          animation: spin 3s linear infinite;
          pointer-events: none;
          -webkit-animation: spin 3s linear infinite;
        }

        &::before {
          filter: blur(1.5rem);
          opacity: 0.7;
        }
      }
      .p-image4{
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: -6px;
          border-radius: 50%;
          background: conic-gradient(from var(--angle),rgb(255, 128, 0),rgb(207, 201, 39),rgb(255, 149, 0), rgb(255, 111, 0));
          animation: spin 3s linear infinite;
          pointer-events: none;
          -webkit-animation: spin 3s linear infinite;
        }

        &::before {
          filter: blur(2rem);
          opacity: 0.7;
          -webkit-filter: blur(2rem);
        }
      }
      .p-image5{
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          inset: -6px;
          border-radius: 50%;
          background: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
          animation: spin 3s linear infinite;
          pointer-events: none;
          -webkit-animation: spin 3s linear infinite;
        }

        &::before {
          filter: blur(1.5rem);
          opacity: 0.7;
        }
      }
      
      }
      h2 {
        font-size: 1rem;
      }
      p {
        color: white;
      }
      a{
        width: 100%;
      }
      button {
        width: 100%;
        padding: 20px 0;
        border-radius: 10px;
        border: none;
        font-size: clamp(0.9rem, 0.9rem + 0.9vw, 1.2rem) !important;
        background-color: black;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .editbtn{
        background-color: $orange-b;
        color: black;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    
  .p-line{
    width: 100%;
    padding: 20px;
    border: 2px solid $greyb-b;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .p-act{
      color: $orange-b;
    }
  }
  .pl-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pt-line{
      width: 45%;
      background-color: black;
      color: white;
      padding: 20px 0;
      border-radius: 20px;
      border: 2px solid $orange-b;
      h1{
        color: $orange-b;
        font-size: 1.2rem;  
      }
    }
  }
  .pler-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .p-line{
      width: 47%;
    }
    button{
      width: 47%;
      border-radius: 20px;
      background-color: black !important;
      color: white !important;
      border: 2px solid $orange-b;
    }
  }

  .btn-wrapper{
    width: 100%;
  }
  .p-adminbtn{
    background-color: $black-b !important;
    border: 2px solid $greyb-b !important;
  }
  @media all and (max-width: 1400px) {
    .profile1{
      width: 55% !important;
    }
  }
  @media all and (max-width: 1000px) {
    .profile1{
      width: 65% !important;
      padding: 30px;
    }
  }
  @media all and (max-width: 700px){
    .pt-line{
      h2{
        font-size: 0.9rem !important;
      }
    }
    .p-line{
      h2{
        font-size: 0.9rem !important;
      }
    }
    .editbtn{
        b{
          font-size: 0.9rem !important;
        }
      }
  }
  @media all and (max-width: 600px) {
    .profile1{
      width: 85% !important;
      padding: 20px !important;
      h2{
        font-size: 1rem !important;
      }
    }
  }
  @media all and (max-width: 700px) and (max-width: 600px) {
    .editbtn{
        b{
          font-size: 1rem !important;
        }
      }
  }
  @media all and (max-width: 480px) {
    .profile1{
      display: flex;
      .p-image{
        width: 80% !important;
        margin: auto !important;
      }
      h1{
        font-size: 1rem;
      }
    }
    

    .pt-line{
      h1{
        font-size: 0.9rem !important;
      }
      h2{
        font-size: 0.8rem !important;
      }
    }
    .p-line{
      h2{
        font-size: 0.8rem !important;
      }
    }
    .editbtn{
        b{
          font-size: 0.9rem !important;
        }
      }
    .closebtn{
        b{
          font-size: 0.9rem !important;
        }
    }
    .p-adminbtn{
      width: 100% !important;
      b{
        font-size: 0.9rem !important;
      }
    }
  }

  @media all and (max-width: 380px) {
    .p-line{
      h2{
        font-size: 0.7rem !important;
      }
    }
     .editbtn{
        b{
          font-size: 0.7rem !important;
        }
      }
      .closebtn{
        b{
          font-size: 0.7rem !important;
        }
      } 
    .p-adminbtn{
      b{
        font-size: 0.7rem !important;
      }
    }
  }